USE [MeetFever]
GO
/****** Object:  StoredProcedure [dbo].[PA_Personas_Registrados]    Script Date: 15/06/2022 11:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- Author: Alberto Horcajada
-- Create date: 24/04/2022
-- Descrption: Cuenta el número de personas que se hayan registrado en la meetfever, eliminadas o no de forma logica
-- ============================================

	ALTER PROCEDURE [dbo].[PA_Personas_Registrados]
	
		--@JSON_IN NVARCHAR(MAX), 
		@JSON_OUT NVARCHAR(MAX) OUTPUT,
		@INVOKER INT,
		@RETCODE INT OUTPUT,
		@MENSAJE NVARCHAR(MAX) OUTPUT

	AS
		SET @RETCODE = 0
		SET @MENSAJE = 'Personas contados'

		-- Recuperacion del ID del JSON entrante
	BEGIN TRY

		SET NOCOUNT ON;

		-- Buscar en la BBDD el Usuario por ID y crear el JSON
		IF (@RETCODE = 0)
			BEGIN
				SET @JSON_OUT = (
			
					SELECT COUNT(distinct id ) AS 'Personas'
					FROM Persona 
					FOR JSON PATH, WITHOUT_ARRAY_WRAPPER)

				-- Dos comprobaciones para asegurarnos de que está bien el JSON

				IF (@JSON_OUT = '')
					BEGIN
						SET @RETCODE = 3
						SET @MENSAJE = 'Algo salio mal'
						SET @JSON_OUT = '{"Exito":false}'
					END
		
		
		
				IF(@JSON_OUT IS NULL)
					BEGIN
						SET @RETCODE = 4
						SET @MENSAJE = 'Resultados no encontrados'
						SET @JSON_OUT = '{"Exito":false}'
					END
			END
			

	END TRY
	BEGIN CATCH
		SET @MENSAJE = SUBSTRING(ERROR_MESSAGE(), 1, 8000)
		SET @RETCODE = -1
		SET @JSON_OUT = '{"Exito":false}'
	END CATCH
		